body {
  padding-top: 20px;
  padding-bottom: 40px;
}

#blogtitle {
  font-family: 'Roboto', sans-serif;
  font-size: 42px;
  font-weight: 700;
  font-style: bold;
  
}
#logo {
  height: 75px; 
  float:right; 
  margin-top: -20px; 
  margin-right: 5px;
  opacity:0.4;
  filter:alpha(opacity=40); /* For IE8 and earlier */
}
/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  margin: 60px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 72px;
  line-height: 1;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 60px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.row {
  margin-left: 20px;
  margin-right: 20px;
}

#post {
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 30px;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
}

#posttitle {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; 
  margin-right: -15px;
  margin-left: -15px;
  margin-top: -5px;
  padding-left: 15px;
  padding-top: 10px;
  margin-bottom: 0px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  font-size: 20px;
}

#postauthor {
  color: #3a87ad;
  font-size: 14px;
  font-weight: 200;
  margin-top: 2px;
  font-style: italic;
}

#posttext {
  padding-left: 10px;
  padding-right: 10px;
}

#postimage {
  box-shadow: 0 0 0 4px #fff, 0 0 10px 4px #d0d0d0;
  -moz-box-shadow: 0 0 0 4px #fff, 0 0 10px 4px #d0d0d0;
  -webkit-box-shadow: 0 0 0 3px #fff, 0 0 8px 2px #d0d0d0;
  width: 60px;
  height: 60px;
  margin-left: 20px;
  background: url("../img/persons/person.jpg");
}

#posttag {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin:8px; 
  float:right;
}

hr {
  margin-top: 3px;
}
hr.soften {
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  border: 0;
  margin-bottom: 10px;
}

a img {
  height: 70px;
}

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
  margin-bottom: 0;
}

.tt-dropdown-menu {
  min-width: 160px;
  margin-top: 2px;
  padding: 5px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.tt-suggestion {
  display: block;
  padding: 3px 20px;
}

.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)
}

.tt-suggestion.tt-is-under-cursor a {
  color: #fff;
}

.tt-suggestion p {
  margin: 0;
}

